###############################################################################
## Determine TRUSTZONE and set METO_HPC_GROUP if not defined.
###############################################################################
{% if 'TRUSTZONE' in environ %}
  {%- set TRUSTZONE=environ['TRUSTZONE'] %}
{%- else %}
  {%- set TRUSTZONE='research' %}
{%- endif %}

{% if METO_HPC_GROUP is not defined %}
  {%- if TRUSTZONE == 'collaboration' %}
    {%- set METO_HPC_GROUP='xcs-c' %}
  {% else %}
    {%- set METO_HPC_GROUP='xc' %}
  {%- endif %}
{%- endif %}



###############################################################################
## Imports
###############################################################################


###############################################################################
## Name graphs
###############################################################################
{%- set name_graphs = {
         "umdp3_check" : "umdp3_checker",
} %}


###############################################################################
## Group definitions
###############################################################################
{%- set groups = {

        "scripts"   : ["umdp3_check"],

    }
%}
