###############################################################################
## Imports
###############################################################################


###############################################################################
## Name graphs
###############################################################################
{%- set name_graphs = {
         "umdp3_check" : "umdp3_checker",
} %}


###############################################################################
## Group definitions
###############################################################################
{%- set groups = {

        "scripts"   : ["umdp3_check"],

    }
%}
