###############################################################################
## Common families
###############################################################################

# Family for all Linux jobs
    [[LINUX]]
        [[[job]]]
            batch system = background

# Family for extract jobs
    [[EXTRACT]]
    script = "rose task-run --verbose --define='args=--ignore-lock'"
        [[[environment]]]
            HOST_SOURCE_UKCA_BASE = {{ HOST_SOURCE_UKCA_BASE }}

# Family for housekeeping jobs
# Accepts the environment variable DIR1, the directory to delete
    [[HOUSEKEEPING]]
{%- if HOUSEKEEPING == true %}
        script = "rm -rf $DIR1"
{%- else %}
        script = "echo Housekeeping is off"
{%- endif %}


###############################################################################
## Site-specific runtime definitions
###############################################################################
{% if SITE == 'meto' %}
%include 'include/meto/runtime.rc'
{% endif %}