name: umdp3 Fixer

on:
    pull_request:
        types: [opened, synchronize, reopened]
    workflow_dispatch:

jobs:
    umdp3_fixer:
        uses: MetOffice/growss/.github/workflows/umdp3_fixer.yaml@main
